{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallary</title>
    <link rel="stylesheet" href=" {% static 'gallery.css' %}">
</head>

<body>
    <a href="{% url 'home' %} "><p>back</p></a>
    <div class="button-89">
        <p>
            THIS IS A COLLECTION OF SOME PROJECTS I HAVE WORKED ON.
            IF YOU WISH TO CONTACT ME, MESSAGE ME ON <a href="https://www.instagram.com/_._praiz/">INSTAGRAM</a> .
        </p>
    </div>
    
</body>

</html>