{% extends "h_tube.html" %}
{% load static %}

{% block title %}
    Deleting {{ video.name}}
{% endblock title %}

{% block content %}
    <h1> Delete {{ video.name}} </h1>
    <div class="form-group" style="width: 100%; height: 100%;">
        <form method="post">
        <div style="height: 50px;">
        </div>
            {% csrf_token %}

        
            <div class="card" style="width: 18rem; ">
            <img src="{{ video.thumbnail.url }}" class="card-img-top" alt="{{ video.name }}">
            <div class="card-body">
                <p class="card-text"><bold style="color: red;"> Are you sure you want to delete {{ video.name }}</bold> <br> <hr> <br>
                You would not be able to recover a deleted video.</p>
            </div>
                <button type="submit" class="btn btn-danger">DELETE</button>
            </div>
        
            <!--
            <blink> You cannot recover a deleted video </blink>
            <button type="submit" class="btn btn-danger">DELETE</button>
            -->
        
    </div>
{% endblock content %}