{% extends "base_tube.html" %}

{% block title %}
    WELCOME
{% endblock title %}

{% block content %}

    <div style="margin-top: 50px; margin-left: 50px;">
        <div style="display: flex; flex-wrap: wrap;">
            {% for video in object_list %}
                <div style="width: 33.33%; padding: 10px;">
                    <img src="{{ video.thumbnail.url }}" style="width: 100%;">
                    <h4 style="color: black;"><a href="{% url 'viewtube' video.pk %}" style="color:black; text-decoration: none;" >{{ video.name }} </a></h4>
                    <p style="color: black;"><a href="{% url 'author' video.author.username %}" style="color:rgb(9, 86, 14); text-decoration: none;" >{{ video.author }}</a> | <a href="{% url 'category' video.category|slugify %}"> {{ video.category }}</a>
                     <br> {{ video.created_at }}</p>
                </div>
            {% empty %}
                <h4 style="color: black;"> No videos available in database </h4>
            {% endfor %}
        </div>
    </div>

    <!--
        {% for video in data %}
        <div style="color: black; margin-top: 50px; padding: 50px;">
            <table>
                <tr style="color: black;">
                    <img src="{{ video.thumbnail.url }}" style="width: 500px;">
                    <h2 style="color: black;"><a href="{% url 'viewtube' video.pk %}" style="color:black; text-decoration: none;" >{{ video.name }} </a> | <a href="#" style="color:black; text-decoration: none;" > {{ video.author }} </a></h2>
                    {{ video.description }}<br>
                    {{ video.created_at }}
                </tr>
                <br>
            </table>
        </div>
    {% endfor %}
    -->
    
  


{% endblock content %}