{% extends "base_tube.html" %}

{% block title %}
    {{ video.name }}
{% endblock title %}

{% block content %}


       

        <div>
            <div style="color: black; width: 100%; margin-top: -130px; margin-left: 10px;">
                <table>
                    <tr style="color: black;">
                        <!--<video src="{{ video.video_file.url }}" width="500px" height="500px"></video>-->
                        <div>
                            <video autoplay="autoplay" controls="controls" poster="{{ video.thumbnail.url }}" preload="preload" width="500px" height="500px" style="margin-top: 150px; position: relative; max-height: 300px;">
                                <source src="{{ video.video_file.url }}" type="video/mp4"></source>
                            </video>
                        </div>
                        

                        <h2 style="color: black;">{{ video.name }}

            

                        {% if user.is_authenticated %}
                            {% if request.user == video.author %}
                                | <a href="{% url 'update' video.pk %}" style="color:rgb(10, 205, 85); text-decoration: none; font-size:medium;" > Edit Video </a> 
                                | <a href="{% url 'delete' video.pk %}" style="color:rgb(10, 205, 85); text-decoration: none; font-size:medium;" > Delete Video</a>
                            {% endif %}
                        {% endif %}
                        </h2>



                        <form action="{% url 'like_video' video.pk %}" method="POST">
                            {% csrf_token %}

                            {% if liked %}
                                <button type="submit", name="video_id", value="{{ video.id }}", style="background-color: rgb(104, 0, 0); color: white;", class="btn btn-danger">
                                    
                                    {% if total_likes == 1 %}
                                        <i class="fas fa-heart"></i> {{ total_likes }} Like
                                    {% else %}
                                        <i class="fas fa-heart"></i> {{ total_likes }} Likes
                                    {% endif %}

                                </button>
                            {% else %}
                                <button type="submit", name="video_id", value="{{ video.id }}", style="background-color: rgb(9, 114, 34); color: white;", class="btn btn-primary">
                                    
                                    {% if total_likes == 1 %}
                                        <i class="far fa-heart"></i> {{ total_likes }} Like
                                    {% else %}
                                        <i class="far fa-heart"></i> {{ total_likes }} Likes
                                    {% endif %}

                                </button>
                            {% endif %}

                        </form>


                        <p style="color: black;">Uploaded By: <a href="{% url 'author' video.author.username %}" style="color:rgb(26, 215, 16); text-decoration: none;" > {{ video.author }} </a></p>
                        <hr>
                        <p style="color: black;"> Description: </p>
                        <span style="color: black;">{{ video.description|linebreaks|safe }}</span>
                        <br>
                        <hr>
                        <p style="color: black;"> Category: <a href="{% url 'category' video.category|slugify %}">{{ video.category }}</a></p>
                        Uploaded on: {{ video.created_at }} | Last updated on: {{video.updated_at}}
                    </tr>
                    <br>
                    <hr>
                    <h4 style="color: black;">Comments....</h4>
                    {% if not video.video_comments.all %}
                        No Comments Yet... <a href="{% url 'add-comment' video.pk %}"> Be the first to add one </a>
                    {% else %}
                        <div class="card" style="width: 600px;">
                            <div class="card-body">
                                <p><a href="{% url 'add-comment' video.pk %}">Add Comment</a></p>
                            </div>
                        </div><br>
                        

                        {% for video_comment in video.video_comments.all reversed %}
                                    <div class="card" style="width: 600px; color: black;">
                                        <div class="card-body">
                                            <p style="font-size:large; color: black;">{{ video_comment.body|linebreaks|safe }}</p>
                                            <p style="color: black;"><a href="{% url 'author' video_comment.commenter.username %}">{{ video_comment.commenter }}</a> | {{ video_comment.created_at }} </p>
                                            

                                        </div>
                                    </div><br>
                                
                        {% endfor %}

                        <div class="card" style="width: 600px;">
                            <div class="card-body">
                                <p><a href="{% url 'add-comment' video.pk %}">Add Comment</a></p>
                            </div>
                        </div><br>
                    {% endif %}
                </table>
                <br>
                <hr>
                <br>
              
            </div>
        </div>

        


        

    
{% endblock content %}